.Bingo-Nav {
  font-family: Cinzel Decorative;
  font-weight: bold;
  font-size: larger;
}

.bingo-nav .nav {
  background-color: lightgray;
  height: 100%;
}

.bingo-nav .nav .nav-link + .nav-link,
h3 {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  padding-left: 0.6rem;
  margin-left: 0.6rem;
}

h4 {
  margin: 0;
}

h3 {
  padding-top: 1%;
}
