.Bingo-Nav {
  font-family: Cinzel Decorative;
  font-weight: bold;
  font-size: larger;
}

.bingo-nav .nav {
  background-color: lightgray;
  height: 100%;
}

.bingo-nav .nav .nav-link + .nav-link,
.nav-text {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

h4 {
  margin: 0;
}

.nav-text {
  padding-top: 1%;
}
