.tile-card {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;
}

.tile-img {
  width: 60%;
  height: 60%;
  object-fit: contain;
  overflow: hidden;
}
