.tile-card {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 95%;
  /* max-width: 90px;
  max-height: 90px; */
}

.tile-img {
  width: 50%;
  height: 50%;
  max-width: 50px;
  max-height: 50px;
  object-fit: cover;
  overflow: hidden;
}

.card-text {
  font-size: 12px;
}

.card {
  border: solid 2px black;
}
