div.offcanvas.customNav {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.offcanvas-header.customHeader {
    display: flex;
    justify-content: space-between;
}

.showNav {
    position: fixed;
    margin-left: -4%;
}